@font-face {
  font-family: "iconfont"; /* Project id 2586729 */
  src: url('https://at.alicdn.com/t/font_2586729_63fnx0fbre9.woff2?t=1630900167071') format('woff2'),
       url('https://at.alicdn.com/t/font_2586729_63fnx0fbre9.woff?t=1630900167071') format('woff'),
       url('https://at.alicdn.com/t/font_2586729_63fnx0fbre9.ttf?t=1630900167071') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinlian:before {
  content: "\e623";
}

.icon-s1a:before {
  content: "\e61b";
}

.icon-s4a:before {
  content: "\e61c";
}

.icon-s2a:before {
  content: "\e61e";
}

.icon-s3a:before {
  content: "\e61f";
}

.icon-s5a:before {
  content: "\e658";
}

.icon-s4b:before {
  content: "\e621";
}

.icon-s1b:before {
  content: "\e62e";
}

.icon-s4c:before {
  content: "\e69c";
}

.icon-s3b:before {
  content: "\e622";
}

.icon-s5b:before {
  content: "\e71a";
}

.icon-s2b:before {
  content: "\e7c8";
}

.icon-s1c:before {
  content: "\e63b";
}

.icon-sheji:before {
  content: "\e69b";
}

.icon-zhuanye:before {
  content: "\e61a";
}

.icon-xuesheng:before {
  content: "\e669";
}

.icon-arr-r2:before {
  content: "\e619";
}

.icon-stu:before {
  content: "\e618";
}

.icon-safe:before {
  content: "\e617";
}

.icon-info:before {
  content: "\e61d";
}

.icon-address:before {
  content: "\e616";
}

.icon-guanzhu2:before {
  content: "\e6cc";
}

.icon-fav2:before {
  content: "\e63a";
}

.icon-guanzhu:before {
  content: "\e615";
}

.icon-catgory:before {
  content: "\e613";
}

.icon-home:before {
  content: "\e612";
}

.icon-guanyu:before {
  content: "\e661";
}

.icon-goto:before {
  content: "\e73c";
}

.icon-cart:before {
  content: "\e604";
}

.icon-wechat:before {
  content: "\e673";
}

.icon-qq:before {
  content: "\e610";
}

.icon-arrt:before {
  content: "\e60e";
}

.icon-pic:before {
  content: "\e643";
}

.icon-wechat2:before {
  content: "\e672";
}

.icon-tel:before {
  content: "\e609";
}

.icon-dizhi:before {
  content: "\e6aa";
}

.icon-email:before {
  content: "\e655";
}

.icon-shenhe:before {
  content: "\e6f9";
}

.icon-tixian:before {
  content: "\e62d";
}

.icon-zfbpay:before {
  content: "\e60b";
}

.icon-wxpay:before {
  content: "\e60c";
}

.icon-charge:before {
  content: "\e639";
}

.icon-ok:before {
  content: "\e606";
}

.icon-add:before {
  content: "\e603";
}

.icon-chakan:before {
  content: "\e605";
}

.icon-selfile:before {
  content: "\e601";
}

.icon-editor:before {
  content: "\e659";
}

.icon-delete:before {
  content: "\e8d0";
}

.icon-pyq:before {
  content: "\e626";
}

.icon-gold:before {
  content: "\e62a";
}

.icon-order:before {
  content: "\e6a6";
}

.icon-hot:before {
  content: "\e64b";
}

.icon-service:before {
  content: "\e627";
}

.icon-work:before {
  content: "\e602";
}

.icon-devote:before {
  content: "\e614";
}

.icon-fav:before {
  content: "\e608";
}

.icon-colse2:before {
  content: "\efe5";
}

.icon-three:before {
  content: "\e620";
}

.icon-logout:before {
  content: "\e600";
}

.icon-close:before {
  content: "\e607";
}

.icon-arr-b:before {
  content: "\e60a";
}

.icon-design:before {
  content: "\e624";
}

.icon-user:before {
  content: "\e63d";
}

.icon-jb:before {
  content: "\e731";
}

.icon-time:before {
  content: "\e611";
}

.icon-honor:before {
  content: "\ee10";
}

.icon-welfare:before {
  content: "\ee11";
}

.icon-arr-r:before {
  content: "\e60d";
}

.icon-like:before {
  content: "\e62c";
}

.icon-view:before {
  content: "\e60f";
}

.icon-search:before {
  content: "\e62b";
}
