@charset "utf-8";
@import "icon.css";
@font-face {font-family:'Hel';src:url('../fonts/HelveticaNeuCE3Thin.ttf') format('truetype');}
@font-face {font-family:'Hir';src:url('../fonts/HiraginoSansGBW3.otf') format('opentype');}
body {padding:0;margin:0;font-family:Hir,Hel,MicroSoft Yahei,Arial;}
header,section,footer,aside,nav,article,figure {display:block;}
ul,li,p,h1,h2,h3,h4,h5,form {padding:0;margin:0;}
li {list-style:none;}
a,a:hover {text-decoration:none;}
.clear {clear:both;}
.cicon {width:1em;height:1em;vertical-align:-0.15em;fill:currentColor;overflow:hidden;}
.p-lar-3 {padding-left:.3rem;padding-right:.3rem;}
/*main*/
.haeder {display:flex;padding:.2rem .3rem 0 .3rem;}
.brand a {display:block;}
.brand img {width:1.9rem;}
.search {margin-left:auto;}
.search a {line-height:.6rem;border-radius:.3rem;background-color:#f5f5f5;width:4.4rem;font-size:0.24rem;color:#bbb;padding-left:.4rem;padding-right:.4rem;box-sizing:border-box;display:block;position:relative;}
.search a i {color:#333;position:absolute;right:.4rem;}
.banner {margin:.4rem .3rem;box-sizing:border-box;border-radius:.2rem;}
.banner .swiper-slide img {max-width:100%;}
.banner .swiper-pagination-bullet {opacity:1;background-color:#fff;}
.banner .swiper-pagination-bullet-active {background-color:#ff5c33;}
.indexnav {padding-left:.3rem;padding-right:.3rem;display:flex;margin-bottom:.2rem;}
.inavi {width:20%;text-align:center;}
.inavi .cicon {width:.7rem;height:.7rem;border:3px solid #f5f5f5;border-radius:50%;padding:.05rem;}
.inavi p {font-size:.2rem;margin-top:.1rem;}
.inavi a {color:#333;display:inline-block;}
.mymove {position:relative;}
.mymove::after {content:'';position:absolute;width:100%;height:100%;border:1px solid #ff5c33;border-radius:50%;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);animation:mymove 1s infinite;-webkit-animation:mymove 1s infinite;}
@keyframes mymove
{
from {padding:0;opacity:1;}
to {padding:.1rem;opacity:0;}
}
@-webkit-keyframes mymove
{
from {padding:0;opacity:1;}
to {padding:.1rem;opacity:0;}
}
.iwork {padding:0 .3rem .4rem;position:relative;overflow:hidden;}
.iwbg {position:absolute;width:100%;height:4.5rem;top:0;z-index:-1;left:0;padding:0 .3rem;box-sizing:border-box;}
.iwbgi {background-image:linear-gradient(to bottom right,#ff5c33,#f00);width:100%;height:100%;border-radius:.2rem;}
.iworkp {color:rgba(255,255,255,.5);font-size:.24rem;line-height:.4rem;font-family:Arial;padding:.4rem .4rem 0;}
.iworkh3 {color:#fff;font-size:.32rem;line-height:.5rem;font-family:Arial;padding:0 .4rem .4rem;display:flex;}
.iworkh3 a {margin-left:auto;color:#fff;}
.iworkc {margin:0 .4rem;overflow:visible;}
.iworkc .swiper-slide {padding:.3rem;background-color:#fff;min-width:3rem;max-width:3rem;box-sizing:border-box;border-radius:.2rem;margin-right:.1rem;-webkit-box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);}
.iwkpic {max-width:100%;margin-bottom:.25rem;}
.iwkt {line-height:.44rem;font-size:.24rem;font-weight:normal;color:#333;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;}
.iwkp {color:#bbb;line-height:.4rem;font-size:.24rem;}
.iwlti {line-height:.4rem;display:flex;margin-bottom:.1rem;}
.iwlti i {font-size:.24rem;font-family:Arial;color:#bbb;margin-right:.2rem;}
.iwlti i.on {color:#ff5c33;}
.iwlti i::before {margin-right:.1rem;}
.iwka {display:flex;line-height:.4rem;font-size:.24rem;color:#333;}
.athcat {color:#fff;line-height:.3rem;margin-top:.1rem;}
.athcat span {font-size:.24rem;padding:.05rem .15rem;border-radius:.2rem;}
.athcat span::before {margin-right:.1rem;}
.color-d1 {background-color:#ff5c33;}
.color-d2 {background-color:#2a98ff;}
.color-d3 {background-color:#33b300;}
.iwka img {min-width:.4rem;height:.4rem;border-radius:.2rem;margin-right:.1rem;}
.iadds {border-radius:.2rem;margin:0 .3rem .4rem;overflow:hidden;}
.iadds img {max-width:100%;}
.igy {padding:0 .3rem .4rem;}
.igyh3 {font-size:.32rem;display:flex;line-height:.52rem;color:#333;margin-bottom:.2rem;}
.igyh3 p {color:#bbb;font-size:.24rem;margin-left:.4rem;}
.igyh3 a {margin-left:auto;font-size:.32rem;color:#333;}
.igylist {display:flex;align-items:center;margin-bottom:.2rem;}
.igylist:last-child {margin-bottom:0;}
.igyplink {border-radius:.2rem;min-width:2.24rem;max-width:2.24rem;overflow:hidden;}
.igyplink img {max-width:100%;}
.igytext {min-width:4.46rem;max-width:4.46rem;margin-left:auto;}
.igytext a {font-size:.24rem;color:#333;line-height:.44rem;}
.ihn {padding:0 .3rem;}
.ihnlist {padding:.3rem .4rem .3rem 1rem;width:100%;box-sizing:border-box;border-radius:.2rem;-webkit-box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);position:relative;overflow:hidden;margin-bottom:.2rem;}
.ihnlist a {display:flex;align-items:center;}
.ihnlist a img {min-width:.8rem;max-width:.8rem;border-radius:.4rem;}
.ihnlist a h3 {font-size:.26rem;color:#333;margin-left:.2rem;}
.ihnlist a p {margin-left:auto;font-size:.24rem;color:#bbb;}
.ihnlist a p span {color:#ff5c33;font-family:Arial;font-weight:bold;}
.ihntip {width:0;height:0;border-right:1.4rem solid transparent;border-bottom:1.4rem solid transparent;border-top:1.4rem solid #ff5c33;position:absolute;left:0;top:0;}
.ihntip i {color:#fff;font-size:.28rem;font-weight:bold;position:relative;top:-1.2rem;left:.1rem}
.ihnlist:nth-child(1) .ihntip {border-top-color:#33b300;}
.ihnlist:nth-child(2) .ihntip {border-top-color:#ffaa31;}
.ihnlist:nth-child(3) .ihntip {border-top-color:#2a98ff;}
.ihnlist:nth-child(4) .ihntip {border-top-color:#ff7eac;}
.ihnlist:nth-child(5) .ihntip {border-top-color:#aa71ff;}
.footer {padding:.2rem 0;background-color:#fff;width:100%;display:flex;-webkit-box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);position:fixed;bottom:0;z-index:999;}
.footer a {display:block;}
.navlist {min-width:20%;max-width:20%;text-align:center;}
.navlist i {margin-bottom:.1rem;}
.navlist i::before {font-size:.4rem;color:#333;}
.navlist p {color:#333;font-size:.24rem;line-height:.4rem;}
.navlist.on i::before,.navlist.on p  {color:#ff5c33;}
.placeh {height:1.3rem;width:100%;}
.placeh2 {height:1rem;width:100%;}
.mark {position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,.5);left:0;top:0;z-index:99;display:none;}
.indexmd {width:6.9rem;position:fixed;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);background-color:#fff;-webkit-box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);border-radius:.2rem;z-index:999;display:none;}
.indexmd h3 {line-height:.8rem;font-size:.3rem;color:#333;text-align:center;padding-left:.3rem;padding-right:.3rem;border-bottom:1px solid #f5f5f5;}
.indexsw {padding:.3rem 0 .5rem;margin:0 .3rem;}
.indexsw .swiper-slide {font-size:.24rem;line-height:.4rem;}
.indexsw .swiper-pagination-bullet-active {background-color:#ff5c33;}
.closebtn {right:10px;top:10px;position:absolute;cursor:pointer;}
.closebtn::before {color:#bbb;}
.prolist {margin:.4rem .3rem;}
.pronav {display:flex;}
.pronav .iconfont {width:49.5%;text-align:center;font-size:.32rem;color:#333;line-height:.6rem;padding-left:1rem;padding-right:1rem;position:relative;}
.pronav .iconfont:last-child {margin-left:auto;}
.pronav .iconfont::before {float:right;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.pronav .iconfont.on::before {transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform: rotate(180deg);}
.pros {display:flex;flex-wrap:wrap;}
.proshow {width:48%;margin-top:.3rem;}
.proshow:nth-child(2n+2) {margin-left:auto;}
.plink img {max-width:100%;margin-bottom:.2rem;border-radius:.2rem;}
.plink h3 {font-size:.3rem;line-height:.5rem;font-weight:normal;color:#333;}
.alink {display:flex;line-height:.4rem;font-size:.24rem;color:#333;}
.alink img {margin-right:.2rem;min-width:.4rem;max-width:.4rem;border-radius:.2rem;display:block;height:.4rem;}
.procat {position:absolute;width:100%;background-color:#fff;top:1.8rem;display:none;}
.procat li {line-height:1rem;border-bottom:1px solid #eee;text-align:center;}
.procat li:last-child {border-bottom:none;}
.procat li a {font-size:.32rem;color:#333;display:block;}
.proare {position:absolute;width:100%;background-color:#fff;top:0;top:1.8rem;padding-top:.5rem;padding-bottom:.5rem;text-align:center;display:none;}
/*picker start*/
.toolbar, .toolbar .title {font-size:.85rem;color:#3d4145;width:100%;}
.toolbar {position:relative;line-height:1.5;background:#f7f7f8}
.toolbar:before {content:'';position:absolute;left:0;top:0;bottom:auto;right:auto;height:1px;width:100%;background-color:#d9d9d9;display:block;z-index:15;-webkit-transform-origin:50% 0;transform-origin:50% 0}
.toolbar .toolbar-inner,.weui-picker-modal .picker-items {display:-webkit-box;display:-ms-flexbox;display:-webkit-flex}
@media only screen and (-webkit-min-device-pixel-ratio:2) {
.toolbar:before {-webkit-transform:scaleY(.5);transform:scaleY(.5)}
}
@media only screen and (-webkit-min-device-pixel-ratio:3) {
.toolbar:before {-webkit-transform:scaleY(.33);transform:scaleY(.33)}
}
.toolbar .toolbar-inner {height:2.2rem;display:flex;text-align:center}
.toolbar .title {position:absolute;display:block;padding:0;font-weight:400;line-height:2.2rem;text-align:center;white-space:nowrap}
.toolbar .picker-button {position:absolute;right:0;box-sizing:border-box;height:2.2rem;line-height:2.2rem;color:#04BE02;z-index:1;padding:0 .5rem}
.weui-picker-modal {width:100%;position:absolute;bottom:0;text-align:center;border-radius:0;opacity:.6;color:#3d4145;-webkit-transition-duration:.3s;transition-duration:.3s;height:13rem;background:#EFEFF4;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-webkit-transition-property:opacity,-webkit-transform;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform}
.weui-picker-modal.picker-modal-inline {height:10.8rem;opacity:1;position:static;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.weui-picker-modal.picker-modal-inline .toolbar {display:none}
.weui-picker-modal.picker-columns-single .picker-items-col {width:100%}
.weui-picker-modal.weui-picker-modal-visible {opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.weui-picker-modal .picker-modal-inner {position:relative;height:10.8rem}
.weui-picker-modal .picker-columns {width:100%;height:13rem;z-index:11500}
.popover .weui-picker-modal .picker-columns,.weui-picker-modal .picker-columns.picker-modal-inline {height:10rem}
@media (orientation: landscape) and (max-height:415px) {
.weui-picker-modal .picker-columns:not(.picker-modal-inline) {height:10rem}
}
.weui-picker-modal .popover.popover-picker-columns {width:14rem}
.weui-picker-modal .picker-items {display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;width:100%;padding:0;text-align:right;font-size:1rem;font-weight:400;-webkit-mask-box-image:-webkit-linear-gradient(bottom,transparent,transparent 5%,#fff 20%,#fff 80%,transparent 95%,transparent);-webkit-mask-box-image:linear-gradient(to top,transparent,transparent 5%,#fff 20%,#fff 80%,transparent 95%,transparent)}
.weui-picker-modal .bar+.picker-items {height:10.8rem}
.weui-picker-modal .picker-items-col {overflow:hidden;position:relative;max-height:100%}
.weui-picker-modal .picker-items-col.picker-items-col-left {text-align:left}
.weui-picker-modal .picker-items-col.picker-items-col-center {text-align:center}
.weui-picker-modal .picker-items-col.picker-items-col-right {text-align:right}
.weui-picker-modal .picker-items-col.picker-items-col-divider {color:#3d4145;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.weui-picker-modal .picker-items-col-wrapper {-webkit-transition:.3s;transition:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.weui-picker-modal .picker-item {height:32px;line-height:32px;padding:0 10px;white-space:nowrap;position:relative;overflow:hidden;text-overflow:ellipsis;color:#9b9b9b;left:0;top:0;width:100%;box-sizing:border-box;-webkit-transition:.3s;transition:.3s}
.picker-items-col-absolute .weui-picker-modal .picker-item {position:absolute}
.weui-picker-modal .picker-item.picker-item-far {pointer-events:none}
.weui-picker-modal .picker-item.picker-selected {color:#3d4145;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transform:rotateX(0);transform:rotateX(0)}
.weui-picker-modal .picker-center-highlight {height:32px;box-sizing:border-box;position:absolute;left:0;width:100%;top:50%;margin-top:-16px;pointer-events:none}
.weui-picker-modal .picker-center-highlight:after,.weui-picker-modal .picker-center-highlight:before {content:'';position:absolute;right:auto;height:1px;background-color:#D9D9D9;display:block;z-index:15;left:0;width:100%}
.weui-picker-modal .picker-center-highlight:before {top:0;bottom:auto;-webkit-transform-origin:50% 0;transform-origin:50% 0}
@media only screen and (-webkit-min-device-pixel-ratio:2) {
.weui-picker-modal .picker-center-highlight:before {-webkit-transform:scaleY(.5);transform:scaleY(.5)}
}
@media only screen and (-webkit-min-device-pixel-ratio:3) {
.weui-picker-modal .picker-center-highlight:before {-webkit-transform:scaleY(.33);transform:scaleY(.33)}
}
.weui-picker-modal .picker-center-highlight:after {bottom:0;top:auto;-webkit-transform-origin:50% 100%;transform-origin:50% 100%}
@media only screen and (-webkit-min-device-pixel-ratio:2) {
.weui-picker-modal .picker-center-highlight:after {-webkit-transform:scaleY(.5);transform:scaleY(.5)}
}
@media only screen and (-webkit-min-device-pixel-ratio:3) {
.weui-picker-modal .picker-center-highlight:after {-webkit-transform:scaleY(.33);transform:scaleY(.33)}
}
.weui-picker-modal .picker-3d .picker-items {overflow:hidden;-webkit-perspective:1200px;perspective:1200px}
.weui-picker-modal .picker-3d .picker-item,.weui-picker-modal .picker-3d .picker-items-col,.weui-picker-modal .picker-3d .picker-items-col-wrapper {-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.weui-picker-modal .picker-3d .picker-items-col {overflow:visible}
.weui-picker-modal .picker-3d .picker-item {-webkit-transform-origin:center center -110px;transform-origin:center center -110px;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.weui-picker-container,.weui-picker-overlay {position:fixed;bottom:0;left:0;right:0;height:0;width:100%;z-index:100}
.picker-calendar-row:after,.picker-calendar-week-days:after {content:'';z-index:15;left:0;right:auto}
.city-picker .picker-items-col {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;max-width:7rem}
.weui-picker-container .weui_cells {margin:0;text-align:left}
.datetime-picker .picker-item {text-overflow:initial}
.weui-select-modal {height:auto}
.weui-select-modal .weui_cells {overflow-y:auto;overflow-x:hidden;max-height:16rem}
.weui-select-modal .weui_cells:after {display:none}
.picker-calendar-month,.picker-calendar-week-days {display:-webkit-box;display:-ms-flexbox;display:-webkit-flex}
.weui-picker-calendar {background:#fff;height:15rem;width:100%;overflow:hidden}
.weui-picker-calendar .picker-modal-inner {overflow:hidden;height:12.8rem}
/*picker co*/
.weui-picker-modal {height:7rem;background-color:#f5f5f5;}
.toolbar,.toolbar .title {line-height:.5rem;font-size:.3rem;}
.weui-picker-modal .picker-item {font-size:.24rem;}
.toolbar .toolbar-inner {height:.5rem;padding-top:.2rem;padding-bottom:.2rem;}
.toolbar .picker-button {height:.5rem;line-height:.5rem;top:.2rem;color:#ff5c33;}
.weui-picker-modal .picker-items {max-height:60%;}
.toolbar {background-color:#eee;}
.proare #city-picker {line-height:.6rem;border:none;background-color:#f5f5f5;width:80%;text-align:center;border-radius:.2rem;}
/*picker end*/
.arebtn {margin-top:.3rem;}
.arebtn button {border:none;border-radius:.2rem;line-height:.6rem;font-size:.24rem;padding-left:.5rem;padding-right:.5rem;outline:none;}
.qxbtn {background-color:#f5f5f5;color:#333;margin-right:.2rem;}
.qdbtn {background-color:#ff5c33;color:#fff;margin-left:.2rem;}
/*haeder title*/
.haedert {line-height:.8rem;font-size:.28rem;color:#333;text-align:center;border-bottom:1px solid #f5f5f5;}
.content-bg {background-color:#f5f5f5;}
.ctbody {padding-bottom:.2rem;}
.ctlist {display:flex;align-items:center;background-color:#fff;padding-left:.3rem;padding-right:.3rem;margin-bottom:.2rem;padding-top:.2rem;padding-bottom:.2rem;}
.ctlink {min-width:2.24rem;max-width:2.24rem;border-radius:.2rem;overflow:hidden;}
.ctlink img {max-width:100%;}
.cttext {min-width:4rem;max-width:4rem;margin-left:.2rem;font-size:.24rem;}
.cttext h3 {line-height:.4rem;}
.cttext h3 a {color:#333;}
.ctflex {display:flex;}
.ctprice-j {display:none;}
.ctprice-s {line-height:.4rem;}
.ctcount {display:flex;line-height:.4rem;}
.c-count {display:flex;justify-content:flex-start;}
.c-count input {background-color:#f5f5f5;line-height:.4rem;border:none;outline:none;padding:0;text-align:center;max-width:.7rem;}
.ctprice-t {line-height:.4rem;color:#ff5c33;}
.ctprice-t span {font-family:Arial;font-weight:bold;}
.ctprice-t i {color:#ffa60b;margin-left:.1rem;}
.c-count span {display: inline-block;background-color:#eee;color:#333;line-height:.4rem;min-width:.5rem;max-width:.5rem;text-align:center;cursor:pointer;}
.span-reduce {border-top-left-radius:.2rem;border-bottom-left-radius:.2rem;}
.span-add {border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;}
.ctclose {color:#bbb;}
.footerc {width:100%;display:flex;-webkit-box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);position:fixed;bottom:0;z-index:999;line-height:1rem;font-size:.28rem;}
.allcart {min-width:65%;max-width:65%;background-color:#333;color:#fff;text-align:center;}
.allcart .allcount,.allcart span {color:#ff5c33;font-weight:bold;}
.gotojs-01 {background-color:#ff5c33;color:#fff;border:none;flex:1;text-align:center;}
.gotojs-01 .iconfont {font-size:.28rem;}
.gotojs-01 .iconfont::before {margin-right:.1rem;}
.com-h3 {line-height:.44rem;font-size:.28rem;color:#333;text-align:center;}
.modelbox {padding:.2rem .4rem;background-color:rgba(0,0,0,.8);line-height:.4rem;font-size:.24rem;color:#fff;border-radius:.2rem;position:fixed;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);z-index:99;display:none;text-align:center;}
.addlist {padding:.2rem .3rem;line-height:.4rem;font-size:.24rem;background-color:#fff;margin-bottom:.2rem;}
.addlistc {padding:.2rem;border:1px dotted #bbb;border-radius:.2rem;}
.addlist.on .addlistc {border-color:#ff5c33;}
.newsadd {text-align:center;}
.newsadd a {display:block;}
.newsadd a i {color:#bbb;font-size:.4rem;}
.newsadd a p {color:#333;line-height:.4rem;font-size:.24rem;}
.ordec textarea {border:1px solid #eee;background-color:#f9f9f9;padding:.2rem;resize:none;border-radius:.2rem;width:100%;outline:none;font-family:Hel;font-size:.24rem;}
.com2-h3 {line-height:.44rem;font-size:.28rem;color:#333;padding-left:.3rem;padding-right:.3rem;background-color:#fff;padding-top:.2rem;display:flex;}
.com2-h3 p {color:#ff5c33;}
.com2-h3 p span {font-family:Arial;}
.paychose {display:flex;padding:.2rem .3rem;background-color:#fff;margin-bottom:.2rem;}
.paychose>div {width:2rem;text-align:center;line-height:.6rem;border-radius:.2rem;color:#fff;font-size:.28rem;font-weight:bold;}
.paychose .icon-zfbpay {background-color:#1296db;}
.paychose .icon-wxpay {background-color:#24af41;margin-left:.4rem;}
.paychose>div::before {margin-right:5px;font-weight:normal;}
.pro-show-t {background-color:#f5f5f5;border-bottom:none;}
.wkcontent {padding:.4rem .3rem;font-size:.24rem;line-height:.32rem;color:#333;}
.wkcontent a {color:#333;}
.wkcontent img {max-width:100%;}
.pro-sc {background-color:#fff;min-width:2rem;max-width:2rem;text-align:center;color:#bbb;}
.pro-sc.on {color:#ff5c33;}
.add-cart {background-color:#333;color:#fff;text-align:center;flex:1;}
.to-charge {background-color:#ff5c33;color:#fff;text-align:center;flex:1;}
.pro-sc span,.add-cart span,.to-charge span {font-size:.28rem;}
.pro-sc .iconfont::before,.add-cart .iconfont::before,.to-charge .iconfont::before {margin-right:.1rem;}
.wkinfo {padding:.3rem;background-color:#fff;}
.wkinfo h3 {font-size:.32rem;color:#333;line-height:.6rem;}
.wktag {font-size:.24rem;color:#bbb;display:flex;line-height:.4rem;margin-bottom:.2rem;}
.wkcat {margin-right:.1rem;}
.wkinfo h4 {font-size:.32rem;color:#ff5c33;}
.wkinfo h5 {font-size:.24rem;color:#333;margin-bottom:.2rem;}
.wkinfo h5 span {color:#ffa60b;}
.wkdec {font-size:.24rem;color:#bbb;line-height:.4rem;}
.wkdec span {color:#ff5c33;font-family:Arial;}
.wkauthor {padding-top:.4rem;padding-bottom:.4rem;}
.wkauthori {background-color:#fff;padding:.4rem .3rem;display:flex;align-items:center;}
.wkauthori .athcat {margin-top:0;margin-left:auto;}
.wkauthori .iwka {line-height:.8rem;font-size:.3rem;font-weight:bold;}
.wkauthori .iwka>a {display:flex;color:#333;}
.wkauthori .iwka img {min-width:.8rem;max-width:.8rem;height:.8rem;border-radius:.4rem;}
.gotohome {line-height:.6rem;width:2rem;margin-left:auto;background-color:#ff5c33;border-radius:.3rem;color:#fff;font-size:.24rem;text-align:center;margin-top:.1rem;margin-bottom:.1rem;}
.loginform {margin-top:2rem;margin-left:.3rem;margin-right:.3rem;}
.comm-input {outline:none;line-height:.8rem;border:none;border-bottom:1px solid #eee;width:100%;color:#333;font-size:.24rem;padding:0;}
.comm-input input {font-size: .24rem; color: #333333;}
.mb-04rem {margin-bottom:.4rem;}
.comm-btn {width:100%;background-color:#ff5c33;line-height:.6rem;font-size:.24rem;color:#fff;text-align:center;font-weight:bold;border:none;border-radius:.3rem;}
.raltips {text-align:center;line-height:.6rem;font-size:.24rem;color:#ff5c33;}
.raltips a {color:#ff5c33;}
.reg-type::before {float:right;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.regcat {position:absolute;width:100%;background-color:#fff;top:3.7rem;padding-left:.3rem;padding-right:.3rem;box-sizing:border-box;display:none;-webkit-box-shadow:0 1px 12px 0 rgb(0 0 0 / 20%);box-shadow:0 1px 12px 0 rgb(0 0 0 / 20%);}
.regcat li {font-size:.24rem;color:#333;line-height:.6rem;border-bottom:1px solid #eee;}
.regcat li:last-child {border-bottom:none;}
.reg-type.iconfont.on::before {transform:rotate(180deg);-ms-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);}
.regcode {display:flex;}
.code-i {border:none;padding:0;line-height:.8rem;min-width:5rem;max-width:5rem;outline:none;}
.regcode button {flex-grow:1;border:none;padding:0;line-height:.8rem;background:none;font-size:.24rem;color:#333;}
.cwtotal {background-color:#fff;display:flex;justify-content:space-between;padding:.2rem .3rem;}
.cwlist {min-width:2.16rem;max-width:2.16rem;color:#fff;border-radius:.2rem;padding:.2rem;box-sizing:border-box;display:flex;font-size:.24rem;align-items:center;}
.cwlist h5 {font-family:Arial;}
.cwlist h5,.cwlist p {line-height:.3rem;}
.cwlist::before {font-size:.6rem;margin-right:.1rem;}
.cwlist1 {background-color:#ffaa31;}
.cwlist2 {background-color:#2a98ff;}
.cwlist3 {background-color:#ff7eac;}
.txbtn {color:#ff7eac;background-color:#fff;padding-left:.2rem;padding-right:.2rem;border-radius:.2rem;line-height:.4rem;}
.lslist {display:flex;line-height:.8rem;font-size:.24rem;justify-content:space-between;color:#333;border-bottom:1px solid #eee;}
.lslist:last-child {border-bottom:none;}
.lsadd {color:#33b300;}
.lsjian {color:#ff5c33;}
.addcoper {border-top:1px solid #eee;margin-top:.2rem;display:flex;line-height:.8rem;}
.addcoper a {font-size:.24rem;color:#bbb;flex:1;text-align:center;}
.addcoper a:first-child {border-right:1px solid #eee;}
.gladd .addlistc {padding:.2rem 0 0;}
.gladd .addlistc p {padding-left:.2rem;padding-right:.2rem;}
.addform {margin:.2rem .3rem 0;}
.comm-lr {display:flex;font-size:.24rem;color:#333;line-height:.8rem;}
.comm-lr input {text-align:right;flex:1;border:none;padding:0;outline:none;}
.comm-lr .iconfont {color:#bbb;margin-left:.1rem;}
.addform .ordec textarea {margin-top:.2rem;}
.headerd {padding-top:1.25rem;padding-bottom:.2rem;display:flex;background-repeat:no-repeat;background-position:top center;background-size:auto 100%;align-items:flex-end;}
.d-info-l {font-size:.24rem;flex:1;color:#fff;line-height:.4rem;text-align:center;}
.d-i-photo {width:1.2rem;height:1.2rem;border-radius:.6rem;border:3px solid #fff;box-sizing:border-box;-webkit-box-shadow:0 1px 12px 0 rgb(0 0 0 / 20%);box-shadow:0 1px 12px 0 rgb(0 0 0 / 20%);position:relative;top:.7rem;}
.d-info-t {text-align:center;margin-top:.8rem;}
.d-info-t h5 {font-size:.3rem;color:#ffa60b;font-family:Arial;}
.d-info-t h3 {font-size:.32rem;color:#333;}
.d-info-t h3 i {color:#ffa60b;font-weight:normal;margin-left:.1rem;}
.d-info-p1,.d-info-p2 {color:#bbb;font-size:.24rem;}
.d-info-p1 {margin-bottom:.1rem;}
.d-info-p2 {margin-bottom:.3rem;}
.d-info-t span {display:inline-block;line-height:.6rem;width:1.6rem;border:1px solid #bbb;border-radius:.33rem;color:#bbb;font-size:.24rem;}
.d-info-t .icon-guanzhu::before {font-size:.3rem;}
.d-info-t span.on {color:#ff5c33;border-color:#ff5c33;}
.d-nav {display:flex;justify-content:center;margin-top:.4rem;}
.d-nav li {line-height:.6rem;}
.d-nav li a {color:#333;font-weight:bold;font-size:.24rem;margin-left:.4rem;margin-right:.4rem;display:block;position:relative;}
.d-nav li.on a::after {content:'';position:absolute;width:100%;height:1px;left:0;bottom:0;background-color:#ff5c33;}
.d-nav li.on a {color:#ff5c33;}
.d-i-prolist {padding:.2rem .3rem;}
.d-i-about {padding:.4rem .3rem}
.d-info-a {padding:.4rem;background-color:#fff;border-radius:.2rem;-webkit-box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);margin-bottom:.2rem;}
.d-i-a {display:flex;line-height:.6rem;font-size:.24rem;}
.d-i-a-l {min-width:1.5rem;color:#bbb;text-align:right;font-size:.24rem;}
.d-i-a-r {flex:1;margin-left:.5rem;}
.d-i-tag {border:1px solid #eee;padding:.1rem .2rem;border-radius:1rem;}
.d-i-nshow {padding:.4rem .3rem;}
.d-info-s {padding:.4rem;background-color:#fff;border-radius:.2rem;-webkit-box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);box-shadow:0 1px 5px 0 rgb(0 0 0 / 10%);margin-bottom:.2rem;font-size:.24rem;color:#333;line-height:.4rem;}
.d-info-st {color:#333;font-size:.3rem;line-height:.26rem;text-align:center;font-size:.24rem;}
.d-info-s .iwlti {display:block;text-align:center;line-height:.5rem;padding-bottom:.1rem;border-bottom:1px solid #eee;margin-bottom:.2rem;}
.header-c {display:flex;padding:.2rem .3rem .4rem;background-color:#f5f5f5;align-items:center;}
.logo-com {height:.8rem;}
.header-c .iconfont {margin-left:auto;display:inline-block;line-height:.6rem;width:1.6rem;border:1px solid #bbb;border-radius:.33rem;color:#bbb;font-size:.24rem;display: flex;align-items: center;justify-content: center;}
.header-c .icon-guanzhu::before {font-size:.4rem;}
.header-c span.on {color:#ff5c33;border-color:#ff5c33;}
.company-intro-nav {background-color: #333333;font-size: .24rem;padding: 0 .4rem;display: flex;justify-content: space-around;}
.company-intro-nav a {color: #ffffff;line-height: .6rem;position: relative;}
.company-intro-nav-selected::before {content: '';width: 100%;height: 1px; background-color: #ffffff;position: absolute;left: 0;bottom: 0;}
.c-banner .swiper-slide {min-height:3rem;background-repeat:no-repeat;background-position:top center;background-size:auto 100%;}
.c-banner .swiper-pagination-bullet {width:.2rem;height:.2rem;opacity:1;background-color:#fff;border-radius:.1rem;}
.c-banner .swiper-pagination-bullet-active {width:.4rem;}
.c-total {background-color: #f5f5f5;display: flex;justify-content: space-between;padding: .4rem .3rem 0;}
.c-list {min-width: 1.57rem;max-width: 1.57rem;color: #fff;border-radius: .2rem;padding: .2rem;box-sizing: border-box;display: flex;font-size: .2rem;align-items: center;white-space: nowrap;overflow: hidden;}
.c-list::before {font-size: .4rem;margin-right: 0.09rem;}
.c-list1 {background-color: #ffaa31;}
.c-list2 {background-color: #2a98ff;}
.c-list3 {background-color: #ff7eac;}
.c-list4 {background-color: #33b300;}
.d-info-show img {width: 100%;margin-top: .1rem;}
.goods-details {padding: .2rem .3rem;background-color: #ffffff;display: flex;}
.goods-details img {max-width: 2.24rem;min-width: 2.24rem;margin-right: 0.2rem;}
.goods-details-text {overflow: hidden; flex: 1;font-size: .24rem;display: flex;flex-direction: column;justify-content: space-around;}
.goods-details-text p {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.goods-details-p {color: #ff5c33;}
.deliver-goods {width: 100%;padding-bottom: .2rem;}
.d-goods {background-color: #ffffff;padding: .2rem .3rem;font-size: .24rem;}
.deliver-way {padding: .2rem .3rem;background-color: #ffffff;}
.deliver-way-h {font-size: .24rem;display: flex;align-items: center;line-height: .6rem;}
.deliver-way-po {display: flex;align-items: center;}
.deliver-way input[type="radio"]:checked {border-color: #ff5c33;}
.deliver-way input[type="radio"] {-webkit-appearance: none;position: relative;width: 12px;height: 12px;border: 1px solid #bbb;border-radius: 6px;}
.deliver-way input[type="radio"]:checked::before {content: '';position: absolute;width: 6px;height: 6px;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);border-radius: 3px;background-color: #ff5c33;}
input[type="radio" i] {margin-top: 0;cursor: pointer;outline: none;}
.deliver-way-input-box {display: flex;}
.deliver-way-input {line-height: .6rem;}
.deliver-way-input-box input:nth-child(1) {margin-right: .1rem;}
.deliver-way-input-box input:nth-child(2) {margin-left: .1rem;}
.deliver-con-btn {margin-top: .2rem;}
.confirmbox {width: 80%;position: fixed;background-color: #fff;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);border-radius: 5px;overflow: hidden;-webkit-box-shadow: 0 1px 12px 0 rgb(0 0 0 / 20%);box-shadow: 0 1px 12px 0 rgb(0 0 0 / 20%);display: none;}
.confirmc {text-align: center;font-size: 16px;color: #333;font-weight: bold;line-height: 50px;border-bottom: 1px solid #f5f5f5;}
.confirms {display: flex;padding: 20px;}
.confirmno, .confirmyes {min-width: 125px;max-width: 50%;text-align: center;cursor: pointer;font-size: 12px;line-height: 30px;border-radius: 15px;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.confirmno {background-color: #f5f5f5;color: #333;margin-right: auto;}
.confirmyes {background-color: #ff5c33;color: #fff;margin-left: auto;}
.sty-send-moudle {padding: .2rem .3rem;background-color: #ffffff;}
.sty-send-moudle p {font-size: .24rem; line-height: .6rem;}
.sty-send-msg {display: flex;}
.sty-send-msg p {width: 50%;box-sizing: border-box;border-bottom: 1px solid #f5f5f5;}
.sty-send-msg p:nth-child(1) {margin-right: .1rem;}
.sty-send-msg p:nth-child(2) {margin-left: .1rem;}
.buy-send-msg {padding: .2rem .3rem;font-size: .24rem;}
.buy-send-msg-content {margin-top: .2rem;margin-bottom: .2rem;}
.order-tabbar {padding: 0 .3rem;overflow: hidden;display: flex;font-size: .32rem;line-height: .6rem;justify-content: space-between;}
.order-tabbar a {color: #333333;}
.order-list-item {color: #333333;}
.order-tabbar-on {color: #ff5c33 !important;position: relative;}
.order-tabbar-on::before {content: '';width: 100%;height: 1px;background-color: #ff5c33;position: absolute;left: 0;bottom: 0;}
.serve-name {padding: .2rem .3rem 0;}
.uploading-image {padding: .4rem .3rem .2rem;}
.uploading-img {width: 100%;height: 1.8rem;position: relative;overflow: hidden;background-color: #f5f5f5;border-radius: .2rem;display: flex; justify-content: center;align-items: center;font-size: .36rem;font-weight: bold;color: #bbbbbb;}
.uploading-img-input {width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0;z-index: 999;}
.up-del {display: none; position: absolute; top: .2rem;right: .2rem;font-size: .24rem;z-index: 999999999;}
#photoEcho {width: 100%; position: absolute;top: 0;left: 0;z-index: 998;}
.uploading-image-hint {font-size: .24rem;color: #bbbbbb; line-height: .4rem; text-align: center;}
.serve-msg {padding: 0 .3rem;display: flex;}
.serve-msg-item {width: 50%;font-size: .24rem;line-height: .6rem; border-bottom: 1px solid #f5f5f5;box-sizing: border-box;color: #333333;}
.serve-msg-item #time {height: .6rem;}
.serve-msg-item input::-webkit-input-placeholder {color: #bbbbbb;}
.serve-msg-item input::-moz-placeholder {color: #bbbbbb;}
.serve-msg-item input:-moz-placeholder {color: #bbbbbb;}
.serve-msg-item input:-ms-input-placeholder {color: #bbbbbb;}
.company-recruit .ord-readme {padding: .4rem 0 0;}
.serve-msg-item .flatpickr-input {height: .6rem;background-color: #ffffff;}
.serve-msg .serve-msg-item:nth-child(1) {margin-right: .1rem;}
.serve-msg .serve-msg-item:nth-child(2) {margin-left: .1rem;}
.serve-msg-item input {outline: none;line-height: .6rem;width: 100%;border: none;color: #333;font-size: .24rem;padding: 0;}
.serve-msg-select {width: 100%;height: 100%;position: relative;}
.serve-msg-select ul {width: 100%;position: absolute;top: .6rem; left: 0;background-color: #ffffff;box-shadow: 0 1px 12px 0 rgb(0 0 0 / 20%);border-radius: .1rem;padding: .2rem .3rem;box-sizing: border-box;z-index: 9999;}
.serve-msg-item .iconfont {font-size: .24rem;}
.serve-msg-select p {display: flex;justify-content: space-between;color: #bbbbbb;}
.icon-three::before {order: 2;}
.donate-ratio {display: flex;justify-content: space-between; align-items: center; padding: 0 .3rem; font-size: .24rem;line-height: .6rem;color: #333333;}
.donate-ratio input[type="radio"] {-webkit-appearance: none;width: .2rem;height: .2rem;position: relative;border: 1px solid #bbb;border-radius: 50%;}
.donate-ratio input[type="radio"]:checked {border-color: #ff5f37;}
.donate-ratio input[type="radio"]:checked::before {content: '';position: absolute;width: .1rem;height: .1rem;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);border-radius: 3px;background-color: #ff5c33;}
/*editor*/
.editormd-menu>li.divider {font-size:.24rem;}
.fbline {display: flex;padding: .4rem .3rem 0;}
.serve-btn {padding: 0 .3rem;}
.uploading-head-img {position: relative; width: 100%;padding-top: .2rem;font-size: .24rem;color: #bbbbbb;display: flex;flex-direction: column;align-items: center;}
.head-img {width: .8rem;height: .8rem;background-color: rgba(0, 0, 0, .2);border-radius: 50%;overflow: hidden;}
.uploading-head-img input {width: 100%;height: 100%;position: absolute;top: 0;left: 0; opacity: 0;z-index: 999;}
.head-img img {width: 100%;height: 100%;}
.uploading-head-img p {line-height: .4rem;}
.ord-user-info {padding: 0 .3rem;}
.ord-user-info .comm-lr {line-height: .6rem;}
.ord-user-info input {font-size: .24rem;color: #333333;}
.ord-user-info .comm-input {display: flex;justify-content: space-between;}
.ord-sex {display: flex;}
.ord-sex input[type="radio"] {-webkit-appearance: none; width: .2rem;height: .2rem;position: relative;border: 1px solid #bbb;border-radius: 50%;}
.ord-sex input[type="radio"]:checked {border-color: #ff5f37;}
.ord-sex input[type="radio"]:checked::before {content: '';position: absolute;width: .1rem;height: .1rem;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);border-radius: 3px;background-color: #ff5c33;}
.ord-readme {padding: .4rem .3rem .2rem;background-color: #ffffff;}
.ord-readme textarea {border: 1px solid #eeeeee;background-color: #ffffff;padding: .2rem;resize: none;border-radius: .2rem;width: 100%;outline: none;font-family: Hel;font-size: .24rem;}
.ord-readme-box {background-color: #f5f5f5;padding-bottom: .2rem;}
.ord-touch-info {padding: .2rem .3rem;background-color: #ffffff;}
.ord-touch-info .comm-lr {line-height: .6rem;}
.ord-touch-info button {margin-top: .2rem;}
.com-user-info {padding: .3rem;}
.com-user-info .comm-lr {line-height: .6rem;}
.com-info-title {line-height: .6rem;font-size: .24rem;color: #333333; font-weight: normal;}
.company-readme {padding: 0 !important;}
.uploading-s {margin-bottom: .2rem;}
.com-user-info .ord-readme {padding: 0 0 .2rem;}
.com-user-info .fbline {padding: 0;}
.com-user-info .fbline #editormd {margin-bottom: 0;}
.com-touch-info-container {width: 100%; padding-top: .2rem;background-color: #f5f5f5;}
.com-touch-info {padding: .2rem .3rem;background-color: #ffffff;}
.com-touch-info .comm-lr {line-height: .6rem;}
.com-touch-info input {color: #333333;font-size: .24rem;}
.nowarp {white-space:nowrap;}
.com-touch-info-gap {margin-right: .35rem;}
.lol {flex: 1; display: flex;}
.lol input {width: 2rem;background-color: #ffffff;}
.com-touch-info-site {flex: 1; display: flex;align-items: center;}
.com-touch-info-site button {width: 1rem;height: .4rem;background-color: #ff5c33;line-height: .4rem;font-size: .24rem;color: #fff;text-align: center;border: none;border-radius: .2rem;margin-left: .35rem;}
#allmap {width: 100%; height: 3.5rem;margin-top: .4rem;}
.com-touch-info-btn {margin-top: .2rem;}
#ord-city-picker {width: 2rem;}
.sty-school-box {width: 100%;padding-bottom: .2rem;background-color: #f5f5f5;}
.sty-school {padding: .2rem .3rem;background-color: #ffffff;}
.sty-school .comm-lr {line-height: .6rem;}
.sty-touch-info-box {width: 100%;padding-top: .2rem;background-color: #f5f5f5;}
.pb-list-nav {display: flex;align-items: center;justify-content: center;margin-top: .4rem;margin-bottom: .2rem;}
.pb-list-nav a {font-size: .32rem;color: #000024;margin: 0 .4rem;line-height: .6rem;}
.pb-list-nav-on {color: #ff5c33 !important;position: relative;}
.pb-list-nav-on::before {content: '';width: 100%;height: 1px;background-color: #ff5c33;position: absolute;left: 0;bottom: 0;}
.pb-list {padding: 0 .3rem .2rem;}
.pb-com-header {margin: .4rem .3rem 0;padding-bottom: .2rem;border-bottom: 1px solid #eeeeee;}
.pb-com-header h1 {color: #000024; font-size: .32rem;}
.pb-com-header p {color: #bbbbbb; font-size: .24rem;line-height: .4rem;display: flex;}
.pb-com-header p i {font-size: .24rem;margin-right: .2rem;}
.pb-com-content {padding: .2rem .3rem;font-size: .24rem;line-height: .44rem;color: #333333;}
.pb-com-content img {max-width: 100%;display: block;margin: 0 auto;}
.focus-list-box {padding: .2rem .3rem 0;}
.focus-list {padding: .3rem .2rem;margin-bottom: .2rem;display: flex;border-radius: .2rem; align-items: center;box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);}
.focus-list-img {width: .7rem;margin-right: .2rem;}
.focus-list-img img {width: 100%; border-radius: 50%;}
.focus-list-text {flex: 1;}
.focus-list-text h4 {font-size: .26rem;color: #333333;}
.focus-list-text p {font-size: .24rem;color: #ffffff;}
.focus-list .icon-home, .focus-list .icon-delete {font-size: .4rem;color: #bbbbbb;margin: 0 .1rem;}
.winner-list-title {padding: 0 .3rem; display: flex;justify-content: space-between; font-size: .28rem;line-height: .4rem;}
.winner-list-title h4 {color: #333333; font-weight: bold;}
.winner-list-title a {color: #bbbbbb; font-weight: bold;}
.winner-list-box {padding: 0.2rem .3rem 0;overflow: hidden;}
.winner-list {margin-bottom: .2rem; overflow: hidden; padding: .3rem .4rem .3rem .6rem;box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);border-radius: .2rem;position: relative;}
.winner-list a {display: flex;align-items: center;justify-content: space-between;}
.winner-list a img {max-width: .8rem;min-width: .8rem;border-radius: 50%;margin-right: .2rem;}
.winner-list a h3 {width: 2rem; text-overflow:ellipsis; overflow:hidden;white-space:nowrap; font-size: .26rem;color: #333333;font-weight: bold;}
.winner-list a p {font-size: .24rem;color: #bbbbbb;}
.winner-list a p span {color: #ff5c33;font-family: Arial;font-weight: bold;}
.winner-list-left {display: flex;align-items: center;}
.winner-list-num {width: 0;height: 0;border-top: .8rem solid transparent;border-right: .8rem solid transparent;position: absolute;left: 0;top: 0;z-index: -10;}
.winner-list-num i {font-style: italic; font-size: .28rem;color: #fff;font-weight: bold;position: absolute;top: -.75rem;left: .03rem;}
.winner-list:nth-child(1) .winner-list-num {border-top-color: #ff5c33;}
.winner-list:nth-child(2) .winner-list-num {border-top-color: #33b300;}
.winner-list:nth-child(3) .winner-list-num {border-top-color: #ffaa31;}
.winner-list:nth-child(4) .winner-list-num {border-top-color: #2a98ff;}
.winner-list:nth-child(5) .winner-list-num {border-top-color: #ff7eac;}
.winner-list:nth-child(6) .winner-list-num {border-top-color: #aa71ff;}
.w-list-nav {margin-bottom: 0;}
.require-content {padding: 0 .3rem;}
.require-content {font-size: .24rem; color: #333333;line-height: .44rem;}
.require-content img {max-width: 100%;display: block;margin: 0 auto;}
.company-serve-banner {width: 100%;}
.company-serve-banner img {width: 100%;}
.c-product-list {padding: .1rem .3rem 0;}
.company-contact-way {padding: .4rem .2rem .35rem;display: flex;}
.company-contact-way-item {flex: 1;display: flex;flex-direction: column;align-items: center;padding: 0 .1rem;border-right: 1px solid #eeeeee;}
.company-contact-way-item:last-child {border-right: none;}
.company-contact-way-item span {font-size: .5rem;color: #bbbbbb;}
.company-contact-way-item h4 {font-size: .2rem;font-weight: bold;font-family: Arial;margin-top: .12rem;margin-bottom: .27rem;}
.company-contact-way-item p {font-size: .24rem;font-weight: bold;font-family: Arial;text-align: center;}
.company-contact-map {margin: .4rem .3rem 0;height: 3.5rem;}
.company-invite-box {padding: .4rem .3rem 0;background-color: #f5f5f5;overflow: hidden;}
.company-invite-list {width: 100%;border-radius: .2rem;background-color: #ffffff;box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);margin-bottom: .2rem;}
.company-invite-list h4 {font-size: .2rem;color: #333333;font-weight: bold;padding: .2rem .3rem;}
.company-invite-intro {font-size: .2rem;color: #333333;line-height: .4rem;padding: .2rem .3rem;border-top: 1px solid #f7f7f7;}
.company-invite-details {font-size: .2rem;color: #333333;padding: .2rem .3rem;border-top: 1px solid #f7f7f7;}
.sty-circle-intro {padding-top: .2rem;}
.sty-circle-time {padding: 0 .3rem;}
.store-container {padding: 0 .3rem;display: flex;justify-content: space-between;flex-wrap: wrap;padding-bottom: .2rem;}
.store-item {width: 48.5%;margin-top: .2rem;border-radius: .2rem;overflow: hidden;position: relative;}
.store-item img {width: 100%;}
.store-item-msg {width: 100%;box-sizing: border-box; padding: 0 .2rem; line-height: .4rem;font-size: .24rem; display: flex;justify-content: space-between;background-color: rgba(0, 0, 0, .5);position: absolute;bottom: .6rem;}
.store-item-title {color: #ffffff;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.store-item-price {color: #ff5c33;font-family: Arial;}
.store-item-button {display: flex;justify-content: space-around;align-items: center; width: 100%;height: .6rem;box-sizing: border-box; border-radius: 0 0 .2rem .2rem;border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;}
.store-item-button .iconfont {font-size: .4rem;color: #bbbbbb;}
.company-stat-container {padding: 0 .3rem .2rem;display: flex;flex-wrap: wrap;justify-content: space-between;}
.company-stat-common {overflow: hidden; margin-top: .2rem;border-radius: .2rem;padding: .2rem 0 .2rem .2rem;box-sizing: border-box;font-size: .24rem;color: #ffffff;display: flex;align-items: center;}
.company-stat-big {width: 48.5%;}
.company-stat-small {width: 31.3%;}
.company-stat-common .iconfont {font-size: .6rem;color: rgba(255, 255, 255, .5);margin-right: .1rem;}
.company-stat-common h5 {font-family: Arial;font-weight: bold;}
.stat-color-1 {background-color: #ff5c33;}
.stat-color-2 {background-color: #33b300;}
.stat-color-3 {background-color: #ffaa31;}
.stat-color-4 {background-color: #2a98ff;}
.stat-color-5 {background-color: #ff7eac;}
.stat-color-6 {background-color: #aa71ff;}
.stat-color-7 {background-color: #e64d3d;}
.stat-color-8 {background-color: #ff5c33;}
.common-page-nav {width: 100%;box-sizing: border-box; white-space: nowrap;overflow-x: scroll; display: flex;align-items: center;margin-top: .4rem;margin-bottom: .2rem;padding: 0 .3rem;}
.common-page-nav::-webkit-scrollbar {display:none}
.common-page-nav a {font-size: .32rem;color: #000024;margin-right: .3rem;line-height: .6rem;position: relative;}
.common-page-nav a:last-child {margin-right: 0;}
.common-page-nav-on {color: #ff5c33;}
.common-page-nav-on::before {content:'';width: 100%;height: 1px;background-color: #ff5c33;position: absolute;left: 0;bottom: 0;}
.common-page-content-container {padding: 0 .3rem .2rem;color: #333333;font-size: .24rem;line-height: .45rem;}
.common-page-content-container img {width: 100%;}
.ord-user-h {border-bottom: none;}
.ord-user-info-container {width: 100%;padding-top: .2rem;background-color: #f5f5f5;}
.ord-user-info-1 {padding: .1rem .3rem;background-color: #ffffff;display: flex;justify-content: space-between;align-items: center;color: #333333;font-size: .28rem;font-weight: bold;}
.ord-user-info-img {border-radius: 50%;overflow: hidden;}
.ord-user-info-img img {width: .8rem;height: .8rem;}
.ord-user-order {padding: .1rem 0;background-color: #ffffff;}
.ord-user-order-header {padding: 0 .3rem;border-bottom: 1px solid #f5f5f5; display: flex;justify-content: space-between;line-height: .6rem;font-size: .28rem;color: #333333;}
.ord-user-order-header a {color: #333333;}
.ord-user-order-info {padding: 0 .3rem;display: flex;justify-content: space-around;}
.ord-user-order-info h5 {font-weight: unset; font-size: .24rem;color: #bbbbbb;line-height: .6rem;}
.ord-user-order-info p {font-size: .28rem;color: #ff5c33;font-family: Arial;line-height: .6rem;}
.ord-user-order-info > a {text-align: center;}
.ord-user-op {padding: .1rem 0;background-color: #ffffff;}
.ord-user-op-item {padding: 0 .3rem;box-sizing: border-box; border-bottom: 1px solid #f5f5f5; font-size: .28rem;color: #333333;display: flex;justify-content: space-between;line-height: .6rem;}
.ord-user-op-item .icon-arr-r2 {font-size: .3rem;color: #bbbbbb;}
.ord-user-op-item:last-child {border-bottom: none;}
.user-circle-container {padding: .2rem .3rem;}
.user-circle {display: flex;justify-content: space-between;align-items: center; color: #333333;font-size: .24rem;line-height: .6rem;border-bottom: 1px solid #f5f5f5;}
.circle-icon {width: .05rem;height: .05rem;background-color: #ff5c33;border-radius: 50%;margin-right: .17rem;}
.user-circle .iconfont {font-size: .4rem;color: #bbbbbb;margin-left: .1rem;margin-right: .1rem;}
.user-circle p {flex: 1;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.sus-button {background-color: #ff5c33;font-size: .24rem;color: #ffffff; position: fixed;bottom: 2.25rem;right: .3rem;border-radius: .3rem 0 0 .3rem;height: .6rem; padding: 0 .14rem 0 .28rem;display: flex;align-items: center;}
.sus-button .icon-work {font-size: .28rem;margin-right: .05rem;}
.product-nav {padding: .2rem .3rem 0;line-height: .6rem;display: flex;justify-content: center;align-items: center;}
.product-nav a {font-size: .32rem;color: #333333;margin: 0 .4rem;}
.product-nav-on {color: #ff5c33;position: relative;}
.product-nav-on::before {content: '';width: 100%;height: 1px;background-color: #ff5c33;position: absolute;left: 0;bottom: 0;}
.account-safety {padding: .2rem .3rem;}
.comm-number {flex: 1;text-align: right;color: #333333;}
.account-btn {margin-top: .2rem;}
.thirdparty-binding-container {width: 100%;background-color: #f5f5f5;padding-top: .2rem;}
.thirdparty-binding {padding: .2rem .3rem;background-color: #ffffff;font-size: .24rem;}
.thirdparty-binding p {color: #333333;line-height: .8rem;white-space: nowrap;margin-right: .2rem;}
.thirdparty-binding-item {display: flex;justify-content: space-between;align-items: center; border-bottom: 1px solid #f5f5f5;}
.thirdparty-binding-item-right {display: flex;align-items: center;}
.thirdparty-binding-btn {height: .4rem;padding: 0 .26rem;background-color: #ff5c33;line-height: .4rem;border-radius: .2rem;color: #ffffff;margin-left: .2rem;}
.security-nickname {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;flex: 1;}
.company-recruit {padding: .2rem .3rem;}
.company-recruit-item {width: 100%;}
.company-recruit-item input {width: 100%; font-size: .24rem;color: #333333; line-height: .6rem;border: none;outline: none;border-bottom: 1px solid #f5f5f5;}
.company-recruit-i {display: flex;justify-content: space-between;}
.company-recruit-i input {width: 31.3%;}
.company-recruit-editormd {margin-top: .4rem;}
.check-hint {padding: .2rem .3rem 0;background-color: #f5f5f5;}
.check-hint-content {background-color: #fff3cd;color: #856404;font-size: .24rem;line-height: .6rem;border: 1px solid #ffeeba;border-radius: .2rem;text-align: center;}
.check-hint-content span {font-weight: bold;}
.check-op {padding: .2rem .3rem;}
.check-op-uploading-img {margin: .4rem 0;}
.sty-student .deliver-way {padding: 0;}
.sty-student .deliver-way .deliver-way-h {color: #333333;line-height: .8rem;}
.sty-student .deliver-way .deliver-way-h .deliver-way-po {margin-left: .15rem;}
.check-op-uploading-i {margin-bottom: 0;}
.search-header {padding: .2rem .3rem .4rem;display: flex;line-height: .6rem;font-size: .24rem;color: #333333;}
.search-input {flex: 1;height: .6rem;border-radius: .3rem; background-color: #f5f5f5;display: flex;align-items: center;padding: 0 .3rem;}
.search-input input {flex: 1; font-size: .24rem;color: #333333;border: none;outline: none;background-color: #f5f5f5;}
.search-input .icon-search {margin-left: .2rem;font-size: .4rem;color: #333333;}
.search-btn {margin-left: .3rem;color: #333333;}
.search-nav {padding: 0 .3rem;font-size: .32rem;line-height: .6rem;display: flex;justify-content: space-around;}
.search-nav a {color: #333333;}
.search-nav-on {color: #ff5c33;position: relative;}
.search-nav-on::before {content: '';width: 100%;height: 1px;background-color: #ff5c33;position: absolute;left: 0;bottom: 0;}
.search-result {padding: 0 .3rem;}
.comment {padding: .2rem 0;font-size: .24rem;color: #333333;}
.comment .comment-h {font-size: .32rem;line-height: .32rem; font-weight: bold;position: relative;margin-left: .6rem;}
.comment .comment-h::before {content: '';width: 2px;height: 100%;background-color: #ff5c33;position: absolute;top: 0;left: -.3rem;}
.comment-item {display: flex;padding: .2rem .3rem;border-bottom: 1px solid #f2f2f2;}
.comment-left {width: .6rem;height: .6rem; border-radius: 50%;overflow: hidden;}
.comment-left img {width: 100%;height: 100%;}
.comment-right {flex: 1; margin-left: .1rem;}
.comment-right-h {display: flex;flex-direction: column;margin-bottom: .1rem;}
.comment-name {font-size: .24rem;color: #333333;font-weight: bold;}
.comment-right-h span {font-size: .24rem;color: #999999;font-family: Arial;}
.write-back {font-weight: bold;text-align: right;margin-top: .2rem;}
.write-back span {margin-left: .1rem;}
.addComment {padding: 0 .3rem; line-height: .4rem;position: relative;}
.comment-box {font-family:Hir,Hel,MicroSoft Yahei,Arial; word-break:break-all;overflow-wrap:break-word; width: calc(100% - 0.6rem - 0.8rem); position: absolute;border: none; height: 100%; resize: none;outline: none;font-size: .24rem;color: #333333; line-height: .4rem;padding: 0;overflow: hidden;top: 0;}
.addComment span {width: .8rem; position: absolute;right: .3rem;bottom: 0;font-weight: bold;text-align: right;}
.addComment p {width: calc(100% - 0.8rem); word-break:break-all;overflow-wrap:break-word;min-height: .4rem;}
.comment-line {width: 100%;height: 1px;background-color: #f2f2f2;margin-top: .2rem;}














