{{#*inline "child"}}
<!-- 首页  -->

<section class="indexadd">
    <div class="banner swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="#"><img src="images/u_banner.jpg"></a></div>
            <div class="swiper-slide"><a href="#"><img src="images/u_banner.jpg"></a></div>
            <div class="swiper-slide"><a href="#"><img src="images/u_banner.jpg"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="igyry">
        <a href="#" class="m-b-20"><img src="images/s_igy.jpg"></a>
        <a href="#"><img src="images/s_iry.jpg"></a>
    </div>
</section>
<section class="indexwork">
    <ul class="iwtabs m-b-20">
        <li class="active">最新发布</li>
        <li>最热作品</li>
        <li>官方甄选</li>
    </ul>
    <div class="iwcont swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                <div class="iwlist">
                    <a href="#" class="plink"><img src="images/u_w1.jpg"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">嘻螺会·浓汤螺蛳粉</a></p>
                        <p class="iwltc m-b-10">工学</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">6466</i>
                            <i class="iconfont icon-like">996</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="images/u_user_01.png">大学生王</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="iwadd"><a href="#"><img src="images/u_add1.jpg"></a></div>
</section>
<section class="indexser">
    <div class="indexseri">
        <h3 class="c-title">定制服务</h3>
        <div class="iscont">
            <aside class="isleft">
                <a href="#"><img src="images/s_isleft.jpg"></a>
            </aside>
            <div class="isright">
                <div class="islist">
                    <a href="#" class="olink"><img src="images/u_s1.jpg"></a>
                    <div class="isltext">
                        <a href="#" class="islt">国潮插画设计定制服务</a>
                        <p class="islp"><span>200</span> /小时&nbsp;<span>12K</span> /天&nbsp;<span>12k</span> /月</p>
                        <p class="islb">
                            <span>高效</span><span>性价比</span><span>随时接单</span><span>包满意</span><span>复购</span></p>
                        <a href="#" class="isbtn iconfont icon-arr-r"></a>
                    </div>
                </div>
                <div class="islist">
                    <a href="#" class="olink"><img src="images/u_s1.jpg"></a>
                    <div class="isltext">
                        <a href="#" class="islt">国潮插画设计定制服务</a>
                        <p class="islp"><span>200</span> /小时&nbsp;<span>12K</span> /天&nbsp;<span>12k</span> /月</p>
                        <p class="islb">
                            <span>高效</span><span>性价比</span><span>随时接单</span><span>包满意</span><span>复购</span></p>
                        <a href="#" class="isbtn iconfont icon-arr-r"></a>
                    </div>
                </div>
                <div class="islist">
                    <a href="#" class="olink"><img src="images/u_s1.jpg"></a>
                    <div class="isltext">
                        <a href="#" class="islt">国潮插画设计定制服务</a>
                        <p class="islp"><span>200</span> /小时&nbsp;<span>12K</span> /天&nbsp;<span>12k</span> /月</p>
                        <p class="islb">
                            <span>高效</span><span>性价比</span><span>随时接单</span><span>包满意</span><span>复购</span></p>
                        <a href="#" class="isbtn iconfont icon-arr-r"></a>
                    </div>
                </div>
                <div class="islist">
                    <a href="#" class="olink"><img src="images/u_s1.jpg"></a>
                    <div class="isltext">
                        <a href="#" class="islt">国潮插画设计定制服务</a>
                        <p class="islp"><span>200</span> /小时&nbsp;<span>12K</span> /天&nbsp;<span>12k</span> /月</p>
                        <p class="islb">
                            <span>高效</span><span>性价比</span><span>随时接单</span><span>包满意</span><span>复购</span></p>
                        <a href="#" class="isbtn iconfont icon-arr-r"></a>
                    </div>
                </div>
                <div class="islist">
                    <a href="#" class="olink"><img src="images/u_s1.jpg"></a>
                    <div class="isltext">
                        <a href="#" class="islt">国潮插画设计定制服务</a>
                        <p class="islp"><span>200</span> /小时&nbsp;<span>12K</span> /天&nbsp;<span>12k</span> /月</p>
                        <p class="islb">
                            <span>高效</span><span>性价比</span><span>随时接单</span><span>包满意</span><span>复购</span></p>
                        <a href="#" class="isbtn iconfont icon-arr-r"></a>
                    </div>
                </div>
                <div class="islist">
                    <a href="#" class="olink"><img src="images/u_s1.jpg"></a>
                    <div class="isltext">
                        <a href="#" class="islt">国潮插画设计定制服务</a>
                        <p class="islp"><span>200</span> /小时&nbsp;<span>12K</span> /天&nbsp;<span>12k</span> /月</p>
                        <p class="islb">
                            <span>高效</span><span>性价比</span><span>随时接单</span><span>包满意</span><span>复购</span></p>
                        <a href="#" class="isbtn iconfont icon-arr-r"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="indexgar">
    <div class="indexgarl">
        <h3 class="igarh3 iconfont icon-welfare">公益</h3>
        <p class="igarp">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学艺购大力支持各大高校学生参与社会公益活动，为所有学生提供服务性平台，引入新的知识产品，引入新的教育学识，以有限的学艺，创造无限的公益。<img
                src="images/s_ig.png" class="s_ig"></p>
        <ul class="igtabs">
            <li class="active">公益资讯</li>
            <li>爱心捐资对象</li>
            <li>募捐活动</li>
        </ul>
        <div class="igcont swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt"><span
                                    class="newtip">NEW</span>六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt"><span
                                    class="newtip">NEW</span>六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt">六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist igadd">
                        <a href="#" class="glink"><img src="images/u_add2.jpg"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt"><span
                                    class="newtip">NEW</span>六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt"><span
                                    class="newtip">NEW</span>六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt">六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt">六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt"><span
                                    class="newtip">NEW</span>六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt"><span
                                    class="newtip">NEW</span>六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt">六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                    <div class="iglist">
                        <a href="#" class="glink"><img src="images/u_g1.jpg"></a>
                        <div class="igltext">
                            <a href="#" class="iglt">六一全国公益组织联合发声：让这些善良、勇敢、坚韧的孩子们被爱守护！</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">2021 / 06 / 04</i>
                                <i class="iconfont icon-view">1229</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="indexgarr">
        <h3 class="igarh3 iconfont icon-honor">荣誉</h3>
        <p class="igarp">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学艺购是中国创新企业基因中的一个独特性的服务型平台，在众多互联网领军当中，秉承着学生时代与社会公益服务的承接者。<img
                src="images/s_ir.png" class="s_ig"></p>
        <div class="ircont">
            <div class="irlist">
                <div class="irtop">
                    <span class="pmtip">01</span>
                    <img src="images/u_user_01.png" class="ir_pic">
                    <div class="irtr">
                        <p class="irtrp">女帝汉库克</p>
                        <p class="iconfont icon-jb"><span>12</span> 枚学艺购奖章</p>
                        <p class="iconfont icon-jb"><span>2885</span> 公益贡献值</p>
                    </div>
                </div>
                <a class="irbot iconfont icon-arr-r" href="#"></a>
            </div>
            <div class="irlist">
                <div class="irtop">
                    <span class="pmtip">02</span>
                    <img src="images/u_user_01.png" class="ir_pic">
                    <div class="irtr">
                        <p class="irtrp">女帝汉库克</p>
                        <p class="iconfont icon-jb"><span>12</span> 枚学艺购奖章</p>
                        <p class="iconfont icon-jb"><span>2885</span> 公益贡献值</p>
                    </div>
                </div>
                <a class="irbot iconfont icon-arr-r" href="#"></a>
            </div>
            <div class="irlist">
                <div class="irtop">
                    <span class="pmtip">03</span>
                    <img src="images/u_user_01.png" class="ir_pic">
                    <div class="irtr">
                        <p class="irtrp">女帝汉库克</p>
                        <p class="iconfont icon-jb"><span>12</span> 枚学艺购奖章</p>
                        <p class="iconfont icon-jb"><span>2885</span> 公益贡献值</p>
                    </div>
                </div>
                <a class="irbot iconfont icon-arr-r" href="#"></a>
            </div>
            <div class="irlist">
                <div class="irtop">
                    <span class="pmtip">04</span>
                    <img src="images/u_user_01.png" class="ir_pic">
                    <div class="irtr">
                        <p class="irtrp">女帝汉库克</p>
                        <p class="iconfont icon-jb"><span>12</span> 枚学艺购奖章</p>
                        <p class="iconfont icon-jb"><span>2885</span> 公益贡献值</p>
                    </div>
                </div>
                <a class="irbot iconfont icon-arr-r" href="#"></a>
            </div>
            <div class="irlist">
                <div class="irtop">
                    <span class="pmtip">05</span>
                    <img src="images/u_user_01.png" class="ir_pic">
                    <div class="irtr">
                        <p class="irtrp">女帝汉库克</p>
                        <p class="iconfont icon-jb"><span>12</span> 枚学艺购奖章</p>
                        <p class="iconfont icon-jb"><span>2885</span> 公益贡献值</p>
                    </div>
                </div>
                <a class="irbot iconfont icon-arr-r" href="#"></a>
            </div>
            <div class="irlist">
                <div class="irtop">
                    <span class="pmtip">06</span>
                    <img src="images/u_user_01.png" class="ir_pic">
                    <div class="irtr">
                        <p class="irtrp">女帝汉库克</p>
                        <p class="iconfont icon-jb"><span>12</span> 枚学艺购奖章</p>
                        <p class="iconfont icon-jb"><span>2885</span> 公益贡献值</p>
                    </div>
                </div>
                <a class="irbot iconfont icon-arr-r" href="#"></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<section class="indexab">
    <div class="indexabi">
        <div class="iabl">
            <a href="#"><img src="images/s_iab.jpg"></a>
        </div>
        <div class="iabr">
            <h1><span>关于学益购</span></h1>
            <div class="iabrc">
                <div>学艺购是中国创新企业基因中的一个独特性的服务型平台，在众多互联网领军当中，
                    我们致力于服务大学生为主要用户和积极投身于慈善公益项目为主要公务的口号，秉
                    承着学生时代与社会公益服务的承接者。<br /><br />
                    通过高效的网络平台，协助大学生销售自身独有的知识性产品，以自身所学识对外展
                    现自我的才能。<br /><br />
                    通过联络各地市慈善基金会，扶持乡村贫困边远地区或是残疾人士，让买家、卖家还
                    有平台一同参与爱心捐赠活动。
                </div>
            </div>
            <a class="button-next" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 350 160 90">
                    <g id="arrow-svg-home">
                        <g id="circ" class="cls-1">
                            <circle cx="52" cy="42" r="40" class="cls-4"></circle>
                        </g>
                        <g id="arrow">
                            <path id="arrow-trg" d="M.983,6.929,4.447,3.464.983,0,0,.983,2.482,3.464,0,5.946Z"
                                class="cls-2"></path>
                        </g>
                        <path id="line" d="M120,0H0" class="cls-3"></path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</section>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
<script src="js/index.js"></script>




{{/inline}}
{{> (lookup this "parent")}}   