{{#*inline "child"}}
<!-- 首页  -->

<section class="indexadd">
    <div class="banner swiper-container">
        <div class="swiper-wrapper">
            {{#each banners}}
                <div class="swiper-slide"><a href="{{this.hyperlink}}"><img src="{{this.image_url}}"></a></div>
            {{/each}}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="igyry">
        <a href="#" class="m-b-20"><img src="images/s_igy.jpg"></a>
        <a href="#"><img src="images/s_iry.jpg"></a>
    </div>
</section>
<section class="indexwork">
    <ul class="iwtabs m-b-20">
        <li class="active">最新发布</li>
        <li>最热作品</li>
        <li>官方甄选</li>
    </ul>
    <div class="iwcont swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                {{#each works_new}}
                <div class="iwlist">
                    <a href="#" class="plink"><img src="{{this.image_url}}"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">{{this.works_title}}</a></p>
                        <p class="iwltc m-b-10">{{this.label}}</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">{{this.watch}}</i>
                            <i class="iconfont icon-like">{{this.like}}</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="{{this.avatar}}">{{this.username}}</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="swiper-slide">
                {{#each works_hot}}
                <div class="iwlist">
                    <a href="#" class="plink"><img src="{{this.image_url}}"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">{{this.works_title}}</a></p>
                        <p class="iwltc m-b-10">{{this.label}}</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">{{this.watch}}</i>
                            <i class="iconfont icon-like">{{this.like}}</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="{{this.avatar}}">{{this.username}}</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="swiper-slide">
                {{#each works_official}}
                <div class="iwlist">
                    <a href="#" class="plink"><img src="{{this.image_url}}"></a>
                    <div class="iwlt">
                        <p class="iwltt"><a href="#">{{this.works_title}}</a></p>
                        <p class="iwltc m-b-10">{{this.label}}</p>
                        <p class="iwlti">
                            <i class="iconfont icon-view">{{this.watch}}</i>
                            <i class="iconfont icon-like">{{this.like}}</i>
                        </p>
                        <div class="iwauthor m-t-15">
                            <a href="#"><img src="{{this.avatar}}">{{this.username}}</a>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="iwadd"><a href="#"><img src="images/u_add1.jpg"></a></div>
</section>
<section class="indexser">
    <div class="indexseri">
        <h3 class="c-title">定制服务</h3>
        <div class="iscont">
            <aside class="isleft">
                <a href="#"><img src="images/s_isleft.jpg"></a>
            </aside>
            <div class="isright">

                {{#each csinfos}}
                <div class="islist">
                    <a href="{{this.hyperlink}}" class="olink"><img src="{{this.image_url}}"></a>
                    <div class="isltext">
                        <a href="{{this.hyperlink}}" class="islt">{{this.cs_name}}</a>
                        <p class="islp" id="cs{{this.id}}"><span>{{this.hour_wage}}</span> /小时&nbsp;<span>{{this.day_wage}}</span> /天&nbsp;<span>{{this.month_wage}}</span> /月</p>
                        <p class="islb" id="cslabel{{this.id}}">
                            <span>{{this.label}}</span></p>
                        <a href="{{this.hyperlink}}" class="isbtn iconfont icon-arr-r"></a>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>
<section class="indexgar">
    <div class="indexgarl">
        <h3 class="igarh3 iconfont icon-welfare">公益</h3>
        <p class="igarp">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学艺购大力支持各大高校学生参与社会公益活动，为所有学生提供服务性平台，引入新的知识产品，引入新的教育学识，以有限的学艺，创造无限的公益。<img
                src="images/s_ig.png" class="s_ig"></p>
        <ul class="igtabs">
            <li class="active">公益资讯</li>
            <li>爱心捐资对象</li>
            <li>募捐活动</li>
        </ul>
        <div class="igcont swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active">

                    {{#each public_welfare_info}}
                    <div class="iglist">
                        <a href="{{this.hyperlink}}" class="glink"><img src="{{this.image_url}}"></a>
                        <div class="igltext">
                            <a href="{{this.hyperlink}}" class="iglt"><span
                                    class="newtip" id="pwi{{this.id}}">{{this.is_new}}</span>{{this.info_title}}</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">{{this.date}}</i>
                                <i class="iconfont icon-view">{{this.watch}}</i>
                            </p>
                        </div>
                    </div>
                    {{/each}}

                    <div class="iglist igadd">
                        <a href="#" class="glink"><img src="images/u_add2.jpg"></a>
                    </div>
                </div>

                <div class="swiper-slide">

                    {{#each public_welfare_object}}
                    <div class="iglist">
                        <a href="{{this.hyperlink}}" class="glink"><img src="{{this.image_url}}"></a>
                        <div class="igltext">
                            <a href="{{this.hyperlink}}" class="iglt"><span
                                    class="newtip" id="pwo{{this.id}}">{{this.is_new}}</span>{{this.info_title}}</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">{{this.date}}</i>
                                <i class="iconfont icon-view">{{this.watch}}</i>
                            </p>
                        </div>
                    </div>
                    {{/each}}

                </div>
                <div class="swiper-slide">

                    {{#each public_welfare_active}}
                    <div class="iglist">
                        <a href="{{this.hyperlink}}" class="glink"><img src="{{this.image_url}}"></a>
                        <div class="igltext">
                            <a href="{{this.hyperlink}}" class="iglt"><span
                                    class="newtip" id="pwa{{this.id}}">{{this.is_new}}</span>{{this.info_title}}</a>
                            <p class="iglp">
                                <i class="iconfont icon-time">{{this.date}}</i>
                                <i class="iconfont icon-view">{{this.watch}}</i>
                            </p>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
    <div class="indexgarr">
        <h3 class="igarh3 iconfont icon-honor">荣誉</h3>
        <p class="igarp">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学艺购是中国创新企业基因中的一个独特性的服务型平台，在众多互联网领军当中，秉承着学生时代与社会公益服务的承接者。<img
                src="images/s_ir.png" class="s_ig"></p>
        <div class="ircont">

            {{#each honorinfos}}
            <div class="irlist">
                <div class="irtop">
                    <span class="pmtip">0{{this.id}}</span>
                    <img src="{{this.image_url}}" class="ir_pic">
                    <div class="irtr">
                        <p class="irtrp">{{this.honor_name}}</p>
                        <p class="iconfont icon-jb" id="hi{{this.id}}">{{this.detail}}</p>
                    </div>
                </div>
                <a class="irbot iconfont icon-arr-r" href="{{this.hyper_url}}"></a>
            </div>
            {{/each}}


            <div class="clear"></div>
        </div>
    </div>
</section>
<section class="indexab">
    <div class="indexabi">
        <div class="iabl">
            <a href="#"><img src="images/s_iab.jpg"></a>
        </div>
        <div class="iabr">
            <h1><span>关于学益购</span></h1>
            <div class="iabrc">
                <div>学艺购是中国创新企业基因中的一个独特性的服务型平台，在众多互联网领军当中，
                    我们致力于服务大学生为主要用户和积极投身于慈善公益项目为主要公务的口号，秉
                    承着学生时代与社会公益服务的承接者。<br /><br />
                    通过高效的网络平台，协助大学生销售自身独有的知识性产品，以自身所学识对外展
                    现自我的才能。<br /><br />
                    通过联络各地市慈善基金会，扶持乡村贫困边远地区或是残疾人士，让买家、卖家还
                    有平台一同参与爱心捐赠活动。
                </div>
            </div>
            <a class="button-next" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 350 160 90">
                    <g id="arrow-svg-home">
                        <g id="circ" class="cls-1">
                            <circle cx="52" cy="42" r="40" class="cls-4"></circle>
                        </g>
                        <g id="arrow">
                            <path id="arrow-trg" d="M.983,6.929,4.447,3.464.983,0,0,.983,2.482,3.464,0,5.946Z"
                                class="cls-2"></path>
                        </g>
                        <path id="line" d="M120,0H0" class="cls-3"></path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</section>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
<script src="js/index.js"></script>
<script>
    {{#each csinfos}}
        Array.from(document.getElementById('cs{{this.id}}').children).forEach(numFix);
        Array.from(document.getElementById('cslabel{{this.id}}').children).forEach(labelFix);

    {{/each}}

        function numFix(item){
        item.innerHTML = Number(item.innerHTML).toFixed(2);
        }
        function labelFix(item){
          //  console.log(item)
            item.innerHTML.split(",").forEach(function (tmp){
                $("<span>"+tmp+"</span>").appendTo(item.parentElement);
           //     console.log(item)
            })
            $(item).first().remove();
        }
    {{#each public_welfare_info}}
        console.log(document.getElementById('pwi{{this.id}}').innerHTML)
        if(Boolean(document.getElementById('pwi{{this.id}}').innerHTML)){
            document.getElementById('pwi{{this.id}}').innerHTML = "New"
        }else
        {
            document.getElementById('pwi{{this.id}}').innerHTML = ""
        }
    {{/each}}
    {{#each public_welfare_object}}
    console.log(document.getElementById('pwo{{this.id}}').innerHTML)
    if(Boolean(document.getElementById('pwo{{this.id}}').innerHTML)){
        document.getElementById('pwo{{this.id}}').innerHTML = "New"
    }else
    {
        document.getElementById('pwo{{this.id}}').innerHTML = ""
    }
    {{/each}}
    {{#each public_welfare_active}}
    console.log(document.getElementById('pwa{{this.id}}').innerHTML)
    if(Boolean(document.getElementById('pwa{{this.id}}').innerHTML)){
        document.getElementById('pwa{{this.id}}').innerHTML = "New"
    }else
    {
        document.getElementById('pwa{{this.id}}').innerHTML = ""
    }
    {{/each}}
    {{#each honorinfos}}


            console.log( document.getElementById('hi{{this.id}}').innerHTML)
            document.getElementById('hi{{this.id}}').innerHTML.split(",").forEach(function (tmp){

                console.log(tmp)
                let inner = tmp.split(".")
                if(inner[1]){
                    $("<p  class=\"iconfont icon-jb\"><span>"+inner[0]+"</span>"+inner[1]+"</p>").appendTo(document.getElementById('hi{{this.id}}').parentElement);
                }else{
                    $("<p  class=\"iconfont icon-jb\"><span>"+inner[0]+"</span></p>").appendTo(document.getElementById('hi{{this.id}}').parentElement);
                }


                console.log(document.getElementById('hi{{this.id}}'))
            })
            $("#hi{{this.id}}").remove();


    {{/each}}
</script>




{{/inline}}
{{> (lookup this "parent")}}   