<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="{{base_url}}static/xueyigou/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" CONTENT="3;URL={{base_url}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>退出登录</title>
    <link rel="stylesheet" href="style/swiper-bundle.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <centent>
        <h3>{{msg}}</h3>
    </centent>

</body>

</html>