{{#*inline "child"}}


<!--header02-->
<section class="ce-content">
    <div class="ce-left">
        <img src="images/u_user_02.jpg" class="d-photo">
        <h3>{{username}}</h3>
        <ul>
            <li><a href="javascript:;">我的主页</a></li>
            <li><a href="javascript:;">我的数据</a></li>
            <li><a href="javascript:;">我的产品</a></li>
            <li><a href="javascript:;">我的服务</a></li>
            <li><a href="javascript:;">我的招聘</a></li>
            <li><a href="javascript:;">我的收藏</a></li>
            <li><a href="javascript:;">购买订单</a></li>
            <li><a href="javascript:;">出售订单</a></li>{{#*inline "child"}}

        </div>
        {{#unless real_name}}
        <!--未提交-->
        <div class="zztip zztip-01">
            <strong>未提交资质！</strong>请上传后提交审核
        </div>
        {{else}}
        <!-- 状态：0默认待审核，-1审核不通过，1审核通过 -->
        {{#if (eq status 0)}}
        <!--审核中-->
        <div class="zztip zztip-01">
            <strong>资质正在审核中！</strong>请稍后查看审核结果
        </div>
        {{/if}}
        {{#if (eq status -1)}}
        <!--未通过-->
        <div class="zztip zztip-02">
            <strong>资质审核未通过！</strong>请修改后重新提交
        </div>
        {{/if}}
        {{#if (eq status 1)}}
        <!--已通过-->
        <div class="zztip zztip-03">
            <strong>资质审核已通过！</strong>
        </div>
        {{/if}}
        {{/unless}}
        <!--
                    未提交和未通过状态时，表单处于可编辑状态
                    审核中和已通过状态时，表达则为不可编辑状
                    表单不可编辑状态为input和button增加disabled属性和cursornot类
                    例如：
                    <input class="ibline-r comm-input cursornot" value="李栋" disabled>
                    <button type="submit" class="commonbtn cursornot" disabled>保存</button>
                -->
        <form action="{{base_url}}do_approve" method="post" enctype="multipart/form-data" class="centerbd">
            <ul class="infoblock">
                <li class="ibline">
                    <p class="ibline-l">法人姓名</p>
                    <div class="ibline-r">
                        <input class="ibline-r comm-input" name="real_name" value="{{real_name}}"
                            placeholder="您的真实姓名（必填）">
                    </div>
                </li>
                <li class="ibline">
                    <p class="ibline-l">联系电话</p>
                    <div class="ibline-r">
                        <input class="ibline-r comm-input" name="mobile" value="{{mobile}}" placeholder="您的联系电话（必填）">
                    </div>
                </li>
                <li class="ibline">
                    <p class="ibline-l">法人身份证号</p>
                    <div class="ibline-r">
                        <input class="ibline-r comm-input" name="identity_card" value="{{identity_card}}"
                            placeholder="您的身份证号（必填）">
                    </div>
                </li>
                <li class="ibline">
                    <p class="ibline-l">身份证照片</p>
                    <div class="ibline-r-h comm-input filestyle">
                        <p>身份证正面照片（必填）</p>
                        <i class="iconfont icon-selfile">浏览</i>
                        <input type="file" name="identity_card_frontage">
                    </div>
                    <div class="ibline-r-h comm-input filestyle m-l-20-i">
                        <p>身份证反面照片（必填）</p>
                        <i class="iconfont icon-selfile">浏览</i>
                        <input type="file" name="identity_card_verso">
                    </div>
                </li>
                <li class="ibline">
                    <p class="ibline-l">社会信用代码</p>
                    <div class="ibline-r">
                        <input class="ibline-r comm-input" name="credit_code" value="{{credit_code}}"
                            placeholder="营业执照统一社会信用代码（必填）">
                    </div>
                </li>
                <li class="ibline">
                    <p class="ibline-l">营业执照照片</p>
                    <div class="ibline-r-670 comm-input filestyle">
                        <p>营业执照照片，不可大于1M（必填）</p>
                        <i class="iconfont icon-selfile">浏览</i>
                        <input type="file" name="business_license">
                    </div>
                </li>
                <li class="ibline">
                    <p class="ibline-l">支付宝</p>
                    <div class="ibline-r">
                        <input class="ibline-r comm-input" name="alipay" value="{{alipay}}"
                            placeholder="您的支付宝账号，用于提现结算（必填）">
                    </div>
                </li>
                <li class="ibline">
                    <div class="ibline-r">
                        <input type="hidden" name="user_id" value="{{user_id}}" class="reg-type" required>
                        <input type="hidden" name="user_type" value="{{user_type}}" class="reg-type" required>

                        <!-- 审核中、与审核通过后不能点保存按纽 -->
                        {{#if (or (eq status 0) (eq status 1))}}
                        <button type="submit" class="commonbtn cursornot" disabled>查看</button>
                        {{else}}
                        <button type="submit" class="commonbtn">保存</button>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </form>
    </div>
</section>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/main.js"></script>
<script src="js/centeru06.js"></script>
<div class="modelbox"></div>
<div class="mark2" onclick="confirmhide()"></div>


{{/inline}}
{{> (lookup this "parent")}}