<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <META http-equiv="refresh" CONTENT="3;URL={{base_url}}{{path}}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{base_url}}static/xueyigou/" />
    <title>广告页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style/swiper-bundle.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <nav class="ralpage">
        <div class="ralpagei">
            <div class="brand"><a href="{{base_url}}"><img src="images/logo-c.png"></a></div>
            <h3>欢迎登录</h3>
        </div>
    </nav>
    <div class="mark"></div>
    <div class="logbox ralmainr">
        <h4>{{message}}</h4>
    </div>



</body>

</html>