<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>官网https://www.handlebarsjs.cn/guide/#什么是-handlebars</h3>
    <h3>官网https://handlebarsjs.com/zh/guide/#什么是-handlebars</h3>
    <h5>{{lookupOrDefault this 'firstname' 'Name not found'}}</h5>
    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
        // compile the template
        var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
        // execute the compiled template and print the output to the console
        console.log(template({ doesWhat: "rocks!" }));

        Handlebars.registerHelper('lookupOrDefault', function (object, propertyName, defaultValue, options) {
            var result = options.lookupProperty(object, propertyName)
            if (result != null) {
                return result
            }
            return defaultValue
        });

        var luck = Handlebars.compile("{{lookupOrDefault this 'firstname' 'Name not found'}}");
        console.log(luck({ firstname: "Yeh成功了uda" }));


    </script>
</body>

</html>